public static final class ${classname}Builder {

#foreach($field in $fields)
private $field.type $field.name;
#end

private ${classname}Builder() {
}

#foreach($field in $fields)
#set($paramName = $helper.getParamName($field, $project))
public ${classname}Builder $StringUtil.sanitizeJavaIdentifier($helper.getPropertyName($field, $project))($field.type $paramName) {
#if ($field.name == $paramName)
  this.##
#end
$field.name = $paramName;
return this;
}
#end

public $classname build() {
#set($resultName = $StringUtil.decapitalize($classname))
  $classname $resultName = new $classname();
#foreach($field in $fields)
  $resultName.$field.name = this.$field.name;
#end
  return $resultName;
}
}