public static class Builder {

#foreach($field in $fields)
private $field.type $field.name;
#end

#foreach($field in $fields)
#set($paramName = $helper.getParamName($field, $project))
public Builder set$StringUtil.capitalizeWithJavaBeanConvention($StringUtil.sanitizeJavaIdentifier($helper.getPropertyName($field, $project)))($field.type $paramName) {
#if ($field.name == $paramName)
  this.##
#end
$field.name = $paramName;
return this;
}
#end

public $classname build() {
  $classname result = new $classname();
#foreach($field in $fields)
  result.$field.name = this.$field.name;
#end
  return result;
}
}